#calc-display {
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
  overflow: hidden;
}

#calc-input {
  font-size: 1em;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

#calc-result {
  font-size: 2.5em; 
  color: #fff;
}
